*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    /* background: #fff; */
}

header{
  
       
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(im2.jpg);
    background-position: center;
    background-size: cover;
    position:  relative;
    margin-top: 30px; 
  

}

.Contact{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Image-illustrative-B24.jpg);
    background-position: center;
    background-size: cover;
    position:  relative; 

}

.Service{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(DCLIC\ Mada.jpg);
    background-position: center;
    background-size: cover;
    position:  relative; 
}
.design{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image2.jpg); 
    background-position: center;
    background-size: cover;
    position:  relative; 
}
.para{
    text-align: center;
    font-size: 30px;
}

section .para h4{
    margin-top: 10%;
}

.logo-box{
    display: flex;
    font-size: 50px;
    clip-path: polygon(0% 20%,
    60% 20%,
    60% 0%,
   100% 50%,
    60% 100%,
    60% 80%,
     0% 80%);
     background-color: #fff;
     justify-content: center;
     align-items: center;
     width: 8rem;
     margin-left: 30px;
     height: 4rem;
     margin-top: 20px;
    
}
.logo-box .une .deux .trois .quatre .cinq .six{
    

}

.une{
    color: red;
    font-size: 25px;
    /* margin-right: px; */
}
.deux{
    color: green;
    font-size: 25px;


    

}
.trois{
    color: #440744;
    font-size: 25px;
    /* margin-right: 6px; */

}
.quatre{
    color: yellow;
    font-size: 25px;
    /* margin-right: 6px; */


}
.cinq{
    color: red;
    font-size: 25px;
    /* margin-right: 6px; */


}
.six{
    color: blue;
    font-size: 25px;
    /* margin-right: 5px; */
    padding-right: 25px;


}

/* .mama{
    font-size: 50px;
    color: #440744;
} */


.pro{
text-align: center; 
color:deepskyblue;
 font-family: 'Times New Roman', Times, serif;
 font-size: 40px;
}


.act{
    text-align: center; 
    color:deepskyblue;
     font-family: 'Times New Roman', Times, serif;
     font-size: 50px;
    }

.num{
text-align: center;
 margin-top: 20px; 
 color: orange;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 50px;
}




.nav{
    display: flex;
    position: relative;  
}

.nav li{
    list-style: none;   
}
.nav a{
    color: #111; 
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;

}
.button{
    padding: 10px 20px;
    background: red;
    margin-top: -10px;
    text-transform: uppercase;   

}

.button1{
    padding: 10px 20px;
    background: blue;
    margin-top: -10px;
    text-transform: uppercase; 
}

.button:hover{
    background: red;
    transition: ease-out;
}


p{
    font-weight: 300;
    color: #111;
}
.programme{
    padding: 150px;
    color: #111;
}

.form{
    display: flex;
}

 section .right img{
    width: 600px;
    height: 350px;
    margin-top: 150px;
    
}

.actualite{
 margin-left: 100px;
 display: flex;
}

section .actualite .imbox img{
    width: 700px;
    height: 400px;
}

.photo h1{
    text-align: center;
}

.francophonie img{

    /* height: 50%; */

}

.page{
    width: 60%;
    margin-left: 5%;
    border-radius: 15px;
}

.oif img{
    width: 100%;
    /* height: 50%; */
    margin-top: 10%;

}

.copinright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0,0,0,0.1);
    background: rgba(228,222,228,);
    text-align:center ;
}

.copinright p:nth-child(1){
    color: #333;
}

.copinright a {
    color: #fd911f;
    text-decoration: none;
    font: weight 600px;
    font-style:italic ;
}

/* section .femme{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(inform.avif);
        background-size: cover;
} */


.btn-1{
    font-size: 1em;
    color: #fff;
    background: deepskyblue;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn-1:hover{
    letter-spacing: 4px;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


.btn-2{
    font-size: 1em;
    color: #fff;
    background: deepskyblue;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn-4{
    font-size: 1em;
    color: #fff;
    background: orchid;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn-3{
    font-size: 1em;
    color: #fff;
    background: burlywood;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: -55%; 
}


.btn-2:hover{
    letter-spacing: 4px;
}
/* .footer{
    padding: 100px 50px;
    background: brown;
    display: flex;
    justify-content: space-between;
}

.suive {
    color: #fff;
}

.RA p{
    color: #fff;
}
.rachi p{
    color: #fff;

}
.icons p{
    color: #fff;
} */
/* .dra {
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    color: blue;

}
.omi ul a{
    text-decoration: none;

}
.mar{
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    color: #3f053f;
}
.tra{
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    color: red;
}
.yel{
    font-size: 30px;
    background-color: black;
    border-radius: 10px;
    color: white;
} */


.franco{
    
    background: #fff;
    padding: 50px 30px;
}

.franco p{
    color: #111;
    
}
.franco h4{
    color: #111;
}

.franco h3{
    color: #111;
}

/* .contactform{
    display: flex;
    background: deepskyblue;
    justify-content: space-between;
}
.contactform h3{
    color: #111;
} */

.contactform{
    padding: 75px 50px;
    background: brown;
    box-shadow: 5px 15px 50px rgba(0,0,0,0.8);
    max-width: 500px;
    margin-top: 50px;
    /* justify-content: center; */
    align-items: center;
    margin-left: 50px;
}
.contactform .inputboite{ 
    position: relative;
    width: 100%; 
    margin-bottom: 20px;
}


.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea{
    width: 100%; 
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
  }

/* .design{
    padding-top: 10%;
    position: relative; */
    /* height: 100vh; */
    /* display: flex; */
    /* background-size: cover; */
    /* background-image: url(nous-recrutons.png); */
    
  /* } */

  section .design img{
    /* height: 500px; */
  }
  
  .nous-recrutons {
   
  
    
    /* background-image: url(_imge_1045.jpg);
    background-size: cover;
     */
  }

  .nous-recrutons h1{
    margin-bottom: 40%;
  }

  .bootstrap{
    padding-top: 10%;
  }

  .group img{
    width: 100%;
  }

 .des-paroles embed{
    width: 100%;
 }
  
  
  /* partie nav */
  
  
  
.nav1{
    display: flex;
    justify-content: space-between;
}
.nav1 ul{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}


.nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.job{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
}

.wan{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(28, 171, 28);
    color: #fff;
}

.nav1 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: chocolate;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav1 ul li:hover::after{
    width: 100%;
}


.lo1{
    width: 350px;
   
}

.img-box{
    display: flex;
    justify-content: center;
    object-fit: contain;
}
.na1{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}




.na2{
    padding-top: 150px;
    margin-left: 250px;
}
.na2 h2 {
    color: #fff;
    font-size: 35px;
}
.na2 small{
    color: #e5e0e0;
}

/* partie formilaire home page */

.na3 a{
  
    text-decoration: none;
    margin-top: 50px; 
    padding-left: 50px; 
}
.na3{
   /* display: flex; 
   justify-content: space-around;
   padding: 3% 25%;
   margin-right: 500px; */
   padding-bottom: 5px;
   margin-top: 50px;
   margin-left: 102px;
}

.na4{
    background-color: #fff;
    height: 15vh;
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 400px;
    text-align: center;
    border-radius: 10px;
    /* padding: 40px 20px; */
}

.na4 input{
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.na4 select{
    padding: 10px 25px;
    border-radius: 5px;
}

.na4 button{
    padding: 10px 70px;
    border-radius: 5px;
}

.sea{
    background-color: rgb(24, 24, 207);
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px; 
}

.job1{
  border-radius: 10px; 
  padding: 10px 20px;
  background-color: rgb(35, 35, 208); 
  color: #fff;
  margin-bottom: 10px;
}
.job2{
    border-radius: 10px; 
    padding: 10px 20px;
    background-color: white; 
    color: black;  
}





.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(DCLIC\ Mada.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
     color: #fff;
     margin-bottom: 40px;
     padding: 0;
}
 .hero-btn{
     color: #fff;
     padding: 12px 27px;
     background-color: #f44336;
     text-decoration: none;
    }
    .recru{
    text-align: center; 
    color:deepskyblue;
     font-family: 'Times New Roman', Times, serif;
     font-size: 40px;
        

    }

    /* css bonde */


    
      h1{
        font-size: 25px;
      }
      .p1{
        font-size: 13px;
      }
      .komo{
        background-color: darkgreen;
        border: 0;
        border-radius: 10px;
        width: 100px;
        color: antiquewhite;
        height: 50px;
        cursor: pointer;
        transition: 0.5s;
      }
      .bi2{
        background-color: darkgreen;
        border: 0;
        border-radius: 10px;
        width: 100px;
        color: antiquewhite;
        height: 50px;
      }
      .bi{
        color: darkgreen;
        font-size: 20px;
      }
      
      
      
      /* css Sadia */
      
      .temoins {
        height: 350px;
        width: 600px;
        margin-left: 100px;
        margin-top: 20px;
        border-radius: 20px;
    }
    .tem {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
    }
    .temtext {
        padding-top: 80px;
        padding-left: 10px;
    }
    .h3 {
        margin-top: 30px;
        margin-left: 360px;
    }




    /* css bienvenue */
    .footer{
        padding: 50px;
        background-color: brown;
        display: flex;
        padding: 70px;
       justify-content: space-evenly;
    }
    .img-footer{
        margin-top: 50px;
    }
    .img-footer img{
        height: 6.2rem;
        margin-bottom: 30px;
    }
    .img-footer p{
        font-size: 1rem;
        color: #fff;
    }
    
    .icons{
        margin-bottom: 10px;
    }
    .img-footer i{
        display: inline-flex;
       align-items: center; 
       justify-content: center;
       width: 40px;
       height: 40px;
       color: var(--main-color);
       border-radius: 50%;
       backdrop-filter: brightness(88%);
       font-size: 20px;
       margin-right: 17px;
       box-shadow: 0 0 20px transparent;
       cursor: pointer;
       transition: all.50s ease;
       color: #fff;
    }
    .icons i:hover{
        transform: scale(1.1);
        box-shadow: 0 0 20px var(--main-color);
    }
    .RA p{
        font-size: 1rem;
        /* margin-bottom: 35px; */
        color: #fff;
    }
    .RA{
    margin-top: 30px;
    }
    .P{
        font-size: 1rem;
        color: #fff;
    }
    .rachi p{
        font-size: 1rem;
        color: #fff;
    }
    .rachi{
    margin-top: 30px;
    }
    .icons{
        margin-top: 30px;
    }
    .icons p{
        font-size: 1rem;
        color: #fff;
    }
    .L{
        text-align: center;
        color: #fff;
        background-color: rgb(197, 56, 56);
        height: 80px;
    }
    .l{
    padding-top: 30px;
    }
    .nos{
        
    }
    
    /* soulama */
    .fottt img{
        height: 200px;
        width: 250px;
        /* border-radius:15px; */
    }
    .fottt{
        padding-left: 150px;
        margin-top: 7%;
    }
    .div{
        display: flex;
        justify-content: space-around;
        /* background: #f3f3f3; */
        height: 600px;
       
    }
    .j{
        margin-top: 5%;
    }
    .sect .h{
        text-align: center;
        color: rgb(2, 233, 233);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5rem;
    }
    ul li{
        list-style: none;
        font-size: 14px;
        color: #5a5555;
    }
    .j h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.8rem;
        color: rgb(0, 105, 167);
    }
    .j p{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    .j button{
        width: 130px;
        height: 35px;
        background: rgb(0, 105, 167);
        border-radius: 10px;
        cursor: pointer;
        align-items: center;
    }
    .j button:hover{
        background: aqua;
    }