/* css Sadia */
      
.temoinss {
    height: 350px;
    width: 600px;
    border-radius: 20px;
}
.tem {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.temtext {
    padding-top: 80px;
    padding-left: 10px;
}
.h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    color: rgb(0, 163, 238);
    margin-top: 30px;
    margin-left: 360px;
}
.temtext h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.container{
    max-width: 1000px;
    margin: auto;
    position: relative;
    /* overflow: auto; */
    /* z-index: 100; */
    
}
.prev,
.next{
   cursor: pointer;
   color: black;
   position: absolute;
   top: 50%; 
   transform: translate(0, -50%);
   padding: 16px;
   border-radius: 0 3px 3px 0;
   background: rgba(0,0,0,.5);
}
/* .slides{
    display: none;
} */

/* .container .slides{
    animation-duration: 3s;
    animation-name: images;
    animation-iteration-count: infinite;
}
@keyframes images{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-600px);
    }
    40%{
        transform: translateX(-1200px);
    }
    60%{
        transform: translateX(-1800px);
    }
    80%{
        transform: translateX(-2400px);
    }
    100%{
        transform: translateX(-3000px);
    }
     */
    

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px 2px 0 2px;
    display: inline-block;
    background: #ddd;
    transition: all .3s;
}

.active,
.dot:hover {
    background: #717171;
}

/* liste djob */

.list{
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
    border: 1px solid #ddd;
    /* flex-basis: 30%; */
    height: 300px;
    padding-top: 1%;
    border-radius: 10px;
}

.t2 img{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid#ddd;
}
h1{
    padding-left: 230px;
}
.t1 input{
    border-radius: 10px !important;
    
}
.dd input{
    width: 100px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid#ddd;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 100px;
}
.t1 select{
    border: 1px solid#ddd;
    font-size: 12px;
    height: 30px;
}
.t1{
    border: 1px solid #ddd;
    height: 260px;
    width: 200px;
    padding-left: 20px;
}
.t2{
    
}
.qq{
    width: 350px;
    height: 450px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.vvv{
    margin-left: 240px;
}
.bt{
    width: 130px;
    height: 35px;
    border: none;
    background: rgb(241, 35, 35);
    color: white;
    
}
.dd{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.da{
    border: 1px solid #ddd;
    height: 75px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.posi{
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    background: rgb(27, 27, 247);
    color: white;
    padding-top: 20px;
    z-index: 1;
    left: 40%;
    bottom: 117px;
    border-radius: 5px;
}